* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.input_box {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.input_text, .encrypt_button {
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
}

.encrypt_button {
  background-color: cornflowerblue;
  font-weight: bold;
  cursor: pointer;
  margin-top: 24px;
}

.encrypt_button:hover {
  background-color: rgba(100, 148, 237, 0.712);
}

.encrypted_text {
  color: red;
  margin-top: 24px;
  font-size: 48px;
  font-weight: bold;
}